*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/* REGOLE CONTENITORI */
.container{
  width: 80vw;
  height: 80vh;
  margin: 5% auto;
}

.wrapper{
  display: flex;
  justify-content: space-between;
}

.slider{
  max-width: 80%;
}

.slider img{
  width: 100%;
  display: none;
}

.controls{
  width: 10%;
  position: relative;
}

/* POSIZIONAMENTI */
.controls i{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%);
}


/* HELPER CLASS */
img.active{
  display: block;
}
